@import "tailwindcss";

@theme {
  --color-green-900: #064e3b;
  --color-green-800: #065f46;
  --color-green-700: #047857;
  --color-green-600: #059669;
  --color-amber-500: #f59e0b;
  --color-amber-400: #fbbf24;
  --color-amber-600: #d97706;
}

html {
  scroll-behavior: smooth;
}
